.login_container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #006ab0, #289ce1);
  color: var(--white);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "Roboto-Light";
}

.login_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.login_right form {
  max-width: 264px;
}
.login_container h1 {
  font-size: 4rem;
  font-family: "Roboto-Black";
  margin-bottom: 5rem;
}
.is_invalid {
  border: none;
  background-color: #fdd;
}
.is_valid {
  border: none;
}

.style_error {
  position: relative;
  height: auto;
  min-height: 2rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 172, 193, 0.4);
  color: black;
  background-color: #fdd;
  border-radius: 3px;
  box-sizing: border-box;
  animation: show 1s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.signup {
  width: 100%;
  display: flex;
  align-items: center;
}
.signup p {
  padding: 0.5rem 0;
  margin: 0;
}
.signup a {
  color: #e9c7c7;
}

.signup a:hover {
  color: whitesmoke;
}
