.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  /* border: 1px solid; */
  margin: 2rem auto;
}

.container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.form_item input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form_item input:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.container button {
  margin-left: 1rem;
}

.button_group {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}
