.project_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem;
  max-width: 320px;
  width: 300px;
  color: var(--white);
  background: #e91e63;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 20px 0px,
    rgba(233, 30, 99, 0.4) 0px 7px 10px -5px;
  border-radius: 5px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background-color;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s, 0s;
}

.project_container:hover {
  color: var(--white);
  text-decoration: none;
  box-shadow: 0 14px 26px 0px rgba(233, 30, 99, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
  background-color: #e91e63;
}

.card_title {
  font-size: 1.3rem;
}

.user_icon {
  width: 50px;
  height: 50px;
  /* border: 1px solid black; */
  border-radius: 50%;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, #bd9d47, hsl(340, 83%, 52%));
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.delete_btn {
  position: relative;
  top: -165px;
  right: -231px;
  width: 60px;
  box-shadow: 0 10px 30px -12px #6b5d5d6b, 0 4px 25px 0 #0000001f,
    0 8px 10px -5px #00000033;
}

.edit_btn {
  position: relative;
  top: -127px;
  right: -171px;
  width: 60px;
  box-shadow: 0 10px 30px -12px #6b5d5d6b, 0 4px 25px 0 #0000001f,
    0 8px 10px -5px #00000033;
}
