.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.container h1 {
  font-size: 2rem;
  padding-bottom: 3rem;
}

.projects_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .container h1 {
    font-size: 3rem;
    padding: 5rem;
  }
}
