.notification {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 172, 193, 0.4);
  margin-bottom: 0;
  /* transition: all 1s linear; */
}

.show_alert {
  display: inline-block;
  animation: show 1s;
}

.hide_alert {
  display: none;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
