.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  margin: 2rem auto;
}

.container form {
  width: 100%;
}

.container button {
  margin: 1rem;
}
