.signup_container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #006ab0, #289ce1);
  /* border: 1px red solid; */
  color: var(--white);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "Roboto-Light";
}
.signup_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.signup_container h1 {
  font-size: 4rem;
  font-family: "Roboto-Black";
}

.signup_container p {
  text-align: center;
}

.password_error {
  height: 3rem;
  margin: 0.5rem 0 0 0;
}
