.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background: lightgrey;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.add_todo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  max-width: 600px;
  margin: 1rem;
  font-size: 1.3rem;
  font-family: "Roboto-Medium";
}

.add_todo input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container ul {
  margin: 0 1rem;
  padding: 0;
  transition: all 2s ease-in-out;
}

.container ul li {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #49505777 solid 1px;
  text-transform: capitalize;
  list-style-type: unset;
}

.controllers {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
