.close_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  fill: white;
}

.todo_text {
  border: none;
  width: 100%;
  outline: none;
}
